

<header class="hero-section">
   
    <div class="hero-text-section">
      <h1>Juniors Make IT Work</h1>
      <p>Hire and Invest in highly skilled juniors now!</p>
      <button style='width: max-content;' class="form-control" [routerLink]="['/register']" (click)="showModalDialog()" >Register</button>
    </div>
  </header>
  <div class="job-offers">
    <h1>Newest Job Offers </h1>
    <a href="#">View all job offers</a>
  </div>
  <section class="jobs-section">
    <div class="job">
      <div class="job-title">
        <h2>Reactjs Developer</h2>
        <p>1 hours ago</p>
      </div>
      <div class="job-location">
        <h4>PickSaaS</h4>
        <p>London,UK</p>
      </div>
      <div class="job-description">
        <p>I am looking for a Java Developer.<br />
          Project for public sector location.NewYork<br />
          (during the pandemic remote work)<br />
          $ upto PLN 550 net / MD B2B</p>
      </div>
    </div>
    <div class="job">
      <div class="job-title">
        <h2>Junior Java Developer</h2>
        <p>2 hours ago</p>
      </div>
      <div class="job-location">
        <h4>PickSaaS</h4>
        <p>NewYork,USA</p>
      </div>
      <div class="job-description">
        <p>I am looking for a Java Developer.<br />
          Project for public sector location.NewYork<br />
          (during the pandemic remote work)<br />
          $ upto PLN 550 net / MD B2B</p>
      </div>
    </div>
    <div class="job">
      <div class="job-title">
        <h2>Javascript Developer</h2>
        <p>5 hours ago</p>
      </div>
      <div class="job-location">
        <h4>PickSaaS</h4>
        <p>NewYork,USA</p>
      </div>
      <div class="job-description">
        <p>I am looking for a Java Developer.<br />
          Project for public sector location.NewYork<br />
          (during the pandemic remote work)<br />
          $ upto PLN 550 net / MD B2B</p>
      </div>
    </div>
  </section>
  <section class="feature-companies">
    <h1>Featured Companies</h1>
    <div class="companies-container">
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>paytm</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>OLA</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>AXIS Bank</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>HDFC</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>Zomato</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>carol</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>bamber</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>infosys</h2>
      </div>
      <div class="company">
        <div class="icon-container">
          <img src="../images/icon-briefcase.png" alt="" />
        </div>
        <h2>TCS</h2>
      </div>
    </div>
  </section>
  <section class="clt-section">
    <div class="clt-text-section">
      <h1>Recieve New Job Offers.</h1>
      <p>Want to know as soon as a new job offer is posted on our<br />
        website?Subscribe to our weekly job offer digest.</p>
      <div class="email-container">
        <input type="email" placeholder="Enter email address" />
        <button>Subscribe</button>
      </div>
    </div>
  </section>

  <!-- <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <table>
      
        <tr>
          <td></td>
          <td></td>
          
        </tr>
        <tr >
          <td>Centro comercial Moctezuma</td>
          
        </tr>
      </table>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
   -->